{% extends 'base.html.twig' %}
{%  block title %}
Modifier un restaurant{% endblock %}
>
{% block body %}
<h1>Modifier un restaurant</h1>

<form action="" method="POST">
    {{ form_widget(editForm) }}
    <input type="submit"/>
</form>

    <{% endblock %}
